<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjm.jdjmpicturebackend.mapper.PictureInteractionMapper">

    <resultMap id="BaseResultMap" type="com.jdjm.jdjmpicturebackend.model.entity.PictureInteraction">
            <id property="userId" column="userId" jdbcType="BIGINT"/>
            <id property="pictureId" column="pictureId" jdbcType="BIGINT"/>
            <id property="interactionType" column="interactionType" jdbcType="TINYINT"/>
            <result property="interactionStatus" column="interactionStatus" jdbcType="TINYINT"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,pictureId,interactionType,
        interactionStatus,isDelete,editTime,
        createTime,updateTime
    </sql>
</mapper>
